@model ERASManager.Models.EBOKTranformedData.ManualEntry

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ManualEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Well)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Well)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndicatorDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndicatorDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLPD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLPD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssumedGOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssumedGOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaterOverboard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaterOverboard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pumpablecargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pumpablecargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreeWaterReceived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreeWaterReceived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UllageMeasurement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UllageMeasurement)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
