@model ERASManager.Models.EBOKDailyReport.DownTimeLossReason

@{
    ViewBag.Title = "Down Time Loss Reason - Create";
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">CFB Well Data</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Down Time Loss Reason</a></li>
                <li class="breadcrumb-item">Add Daily Report</li>
                <li class="breadcrumb-item active">Create</li>
            </ol>
        </div>
        <div class="">
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Down Time Loss Reason</h4>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-body">
                                <h3 class="card-title">Add Daily Report</h3>
                                <hr>
                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Down Time Report</label>
                                            @Html.EditorFor(model => model.DownTimeReport, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DownTimeReport, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group has-danger">
                                            <label class="control-label">Report Date</label>
                                            @Html.EditorFor(model => model.ReportDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                            @Html.ValidationMessageFor(model => model.ReportDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>



                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success"> <i class="fa fa-plus"></i> Add Record</button>
                                    <button type="button" class="btn btn-inverse"><i class="fa fa-times"></i>Cancel</button>
                                    <a href="@Url.Action("Index", "DownTimeLossReasons")" class="btn btn-info"><i class="fa fa-backward"></i> &nbsp;Back To List&nbsp; </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- Row -->

        </div>
    </div>


