@model ERASManager.Models.EBOKDailyReport.CFBWellData

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CFBWellData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rsv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rsv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Well)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Well)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHOKE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHOKE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOURS_Online)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOURS_Online)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOURS_Offline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOURS_Offline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BSW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BSW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pwf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pwf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BHT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BHT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WATER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WATER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.API)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.API)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PumpFrequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PumpFrequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayOftheWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOftheWeek)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
