
@model IEnumerable<ERASManager.Models.RevisedBackAllocation.RBackAllocationMaster>

@{
    ViewBag.Title = "CreateMultipleBulk Revised - Back Allocation Algorithm";
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">BackAllocation Master Data</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item">BackAllocation Master Data</li>
                <li class="breadcrumb-item active">Add Multiple Record</li>
            </ol>
        </div>
        <div>
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">BackAllocation Master Data - Add Multiple Record</h4>
                        <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print, Create New Daily Entry</h6>

                        <div class="table-responsive m-t-40" style="overflow-x: auto;">
                            @using (Html.BeginForm())
                            {

                                <table id="maintable" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Report Date</th>
                                            <th>Well</th>
                                            <th>BLPD</th>
                                            <th>BSW</th>
                                            <th>GOR</th>
                                            <th>CFB Strinkage Factor</th>
                                            <th>WFB Strinkage Factor</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Report Date</th>
                                            <th>Well</th>
                                            <th>BLPD</th>
                                            <th>GOR</th>
                                            <th>BSW</th>
                                            <th>CFB Strinkage Factor</th>
                                            <th>WFB Strinkage Factor</th>

                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {

                                            <tr class="datalines">
                                                <td>
                                                    <input type="text" value="@Html.DisplayFor(modelItem => item.IndicatorDate)" name="ReportDate1" placeholder="Ex: EBOK-16" class="form-control ReportDate01" />
                                                </td>
                                                <td>
                                                    <input type="text" value="@Html.DisplayFor(modelItem => item.Well)" name="Well1" placeholder="Ex: EBOK-16" class="form-control Well01" />
                                                </td>
                                                <td>
                                                    <input type="text" value="@Html.DisplayFor(modelItem => item.BLPD)" name="BLPD1" class="form-control BLPD01" />
                                                </td>
                                                <td>
                                                    <input type="text" value="@Html.DisplayFor(modelItem => item.BSW)" name="BSW1" class="form-control BSW01" />
                                                </td>
                                                <td>
                                                    <input type="text" value="@Html.DisplayFor(modelItem => item.GOR)" name="GOR1" class="form-control GOR01" />
                                                </td>
                                                <td>
                                                    <input type="text" value="@Html.DisplayFor(modelItem => item.CFBStrinkageFactor)" name="CFBStrinkageFactor1" class="form-control CFBStrinkageFactor01" />
                                                </td>
                                                <td>
                                                    <input type="text" value=" @Html.DisplayFor(modelItem => item.WFBStrinkageFactor)" name="WFBStrinkageFactor1" class="form-control WFBStrinkageFactor01" />
                                                </td>
                                                @*<td>
                                <button type="button" id="btnAdd" class="btn btn-primary btn-rounded classAdd"><i class='fa fa-plus'></i>Add Line</button>
                            </td>*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <button type="button" id="btnSubmit" class="btn btn-primary  pull-right ">Submit</button>
                              
                            }
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        @section pagescript
            {
            <!-- This is data table -->
            <script src="~/Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
            <!-- start - This is for export functionality only -->
            <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
            <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
            <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
            <!-- end - This is for export functionality only -->

            <script type="text/javascript">
                $(document).on("click", ".deleteContact", function () {
                    $(this).closest("tr").remove();
                });
            </script>

            <script type="text/javascript">
                function getallData() {
                    var data = [];
                    $('tr.datalines').each(function () {
                        var myIndicatorDate = $(this).find('.ReportDate01').val();
                        var myWell = $(this).find('.Well01').val();
                        var myBLPD = $(this).find('.BLPD01').val();
                        var myBSW = $(this).find('.BSW01').val();
                        var myCFBStrinkageFactor = $(this).find('.CFBStrinkageFactor01').val();
                        var myWFBStrinkageFactor = $(this).find('.WFBStrinkageFactor01').val();
                        var myGOR = $(this).find('.GOR01').val();
                        var alldata = {
                            'IndicatorDate': myIndicatorDate,
                            'Well': myWell,
                            'BLPD': myBLPD,
                            'BSW': myBSW,
                            'CFBStrinkageFactor': myCFBStrinkageFactor,
                            'WFBStrinkageFactor': myWFBStrinkageFactor,
                            'GOR': myGOR
                        }
                        data.push(alldata);
                    });
                    console.log(data);//
                    return data;
                }
                $("#btnSubmit").click(function () {
                    var data = JSON.stringify(getallData());
                    //console.log(data);
                    $.ajax({
                        url: '/RBackAllocationMasters/LoadBulkData',
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({ 'mydata': data }),
                        success: function () {

                            window.location.href = '/RBackAllocationMasters/ProcessBackAllocation'
                        },
                        error: function () {
                            window.location.href = '/RBackAllocationMasters/ProcessBackAllocation'
                        }
                    });
                });
            </script>
        }


