@model ERASManager.Models.ReportParameter

@{
    ViewBag.Title = "ReportFilter";
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@ViewBag.Bearer Report Filter</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">@ViewBag.Bearer</a></li>
                <li class="breadcrumb-item"> Report Filter</li>
                <li class="breadcrumb-item active">Filter by date</li>
            </ol>
        </div>
        <div class="">
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="card-header">Filter Report</h4>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("ReportFilter", "ReportParameters", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-body">
                                <h3 class="card-title">Filter Report</h3>
                                <hr>
                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Start Date</label>
                                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", type="date" } })
                                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group has-danger">
                                            <label class="control-label">End Date</label>
                                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control",  type = "date" } })
                                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>

                                
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success"> <i class="fa fa-plus"></i> View Report</button>
                                <button type="button" class="btn btn-inverse"><i class="fa fa-times"></i>Cancel</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->

    </div>
