@model IEnumerable<ERASManager.Models.EBOKDailyReport.EHSSVEER>

@{
    ViewBag.Title = "EHSS VEER - Index";
}


<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">EHSS VEER</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item">EHSS VEER</li>
                <li class="breadcrumb-item active">Data List</li>
            </ol>
        </div>
        <div>
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">EHSS VEER</h4>
                        <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print, Create New Daily Entry</h6>
                        @using (Html.BeginForm("FilterReport", "EHSSVEERs", FormMethod.Post))
                        {
                            @Html.ValidationSummary()
                            <div class="row p-t-20">
                                <div class="col-md-4">
                                    <div class="form-group has-success">

                                        <input type="date" name="StartDate" class="form-control" placeholder="Start Date" />
                                        <small class="form-control-feedback">Start Date</small>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-4">
                                    <div class="form-group has-success">

                                        <input type="date" name="EndDate" class="form-control" placeholder="End Date" />
                                        <small class="form-control-feedback">End Date</small>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success"><i class='fa fa-filter'></i> Filter Report</button>
                                </div>
                                <!--/span-->
                            </div>
                        }

                        <p><a href="@Url.Action("Create", "EHSSVEERs")" class="btn btn-info"> Add Data </a>   <a href="@Url.Action("Create", "EHSSVEERs")" class="btn btn-success"> Add Data From Previous </a>   <a href="@Url.Action("Create", "EHSSVEERs")" class="btn btn-warning"> Add From Template &nbsp;</a></p>
                        <div class="table-responsive m-t-40" style="overflow-x: auto;">
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>ParameterCategory</th>
                                        <th>Parameter</th>
                                        <th>Today</th>
                                        <th>CurrentWeek</th>
                                        <th>Month</th>
                                        <th>Cummulative</th>
                                        <th>ReportDate</th>
                                        <th class="text-nowrap">Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>ParameterCategory</th>
                                        <th>Parameter</th>
                                        <th>Today</th>
                                        <th>CurrentWeek</th>
                                        <th>Month</th>
                                        <th>Cummulative</th>
                                        <th>ReportDate</th>
                                        <th class="text-nowrap">Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>


                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ParameterCategory)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Parameter)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Today)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CurrentWeek)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Month)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cummulative)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ReportDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UploadTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TimeStamp)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DayOftheWeek)
                                            </td>

                                            <td>
                                                <a title="Modify EHSSVEERs" href="@Url.Action("Edit", "EHSSVEERs", new { id = item.Id})" class="btn btn-default btn-rounded btn-condensed btn-sm"><i class='fa fa-pencil'></i></a>
                                                <a title="View EHSSVEERs" href="@Url.Action("Details", "EHSSVEERs", new { id = item.Id})" class="btn btn-default btn-rounded btn-condensed btn-sm"><i class='fa fa-desktop'></i></a>
                                                <a title="Delete EHSSVEERs" href="@Url.Action("Delete", "EHSSVEERs", new { id = item.Id})" class="btn btn-default btn-rounded btn-condensed btn-sm"><i class='fa fa-times'></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        @section pagescript
            {
            <!-- This is data table -->
            <script src="~/Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
            <!-- start - This is for export functionality only -->
            <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
            <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
            <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
            <!-- end - This is for export functionality only -->
            <script>
    $(document).ready(function() {
        $('#myTable').DataTable();
        $(document).ready(function() {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function(settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function(group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function() {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
            </script>
        }
