@model ERASManager.Models.EBOKDailyReport.FSOOILQUALITY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FSOOILQUALITY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parameters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parameters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParameterValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParameterValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParameterUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParameterUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayOftheWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOftheWeek)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
